* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
}

header {
    color: mediumseagreen;
    width: 80%;
    margin: 20px auto;
    padding: 50px;
    background-color: whitesmoke;
    border: 2px solid green;
    border-radius: 3px;

}